body {
  background-color: #333;
  color: rgb(255, 255, 255);
  font-style: sans-serif;
  padding: 0 1rem;
}
.row {
  margin-bottom: 1rem;
}

.hidden {
  display: none;
}

hr {
  margin-top: 1rem;
}

.user {
  width: 100px;
  background-color: #222;
  text-align: center;
}
